body{
	margin:10;	
}
.canva-panel {
	display: flex;
	justify-content: center;
	padding: 7px;
	margin: 0;
	background-color: #4c4c4c;
	width: 1005px;
}
.canvas-panel #fireworks-platform {
	background-color: #04073e;
}
.canvas-panel #draw-platform {
	background-color: #6f73de;
}
.shoot-nav{
	margin: 8px 0;
	display: inline-block;
}
.shoot-nav #particleCount{
	width: 44px;
}
.draw-nav{
	margin: 0 0 8px 0;
}
.buttons nav button {
	width: 125px;
	height: 25px;
}